.fa-plus-circle {
    border-radius: 50% !important;
    color: red;
    background: white;
}

.btn-remove {
    background: none !important;
    border: none !important;
}
.wbdv-delete-course {
    color: red;
}

.wbdv-edit-course {
    color: black;
}

.wbdv-edit-course-right {
    float: right
}

.wbdv-save-course {
    color: limegreen;
}
.size {
    font-size: xx-large;
}

.bottom-right {
    float: right;
    position: relative;
    padding-bottom: 10px;
}

.wbdv-course {
    padding-left: 10px;
}

.tableSelected {
    background-color: blue;
}